*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.row{
  width:100%;
  margin-top: 100px;
  margin-right: 0;


}
h1{
  font-family: "Arial";
  text-align: center;
  font-size: 2em;
}


@media (min-width:1200px) {
  .col-lg-4{
    width: 33%;
    float: left;
    margin-bottom: 20px;
    position: relative;

  }
  .cardtitle{
    top:0;
    right:5.5%;
  }
  div.linebreak{
    height: 50px;
    background: rgba(0, 0, 0, 0);

  }
  section.flashcard{
    height: 240px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-6{
    width: 50%;
    float: left;
    margin-bottom: 20px;
    position: relative;
  }
  .cardtitle{
    top:0;
    right:6.5%;
  }
  #fullcard{
    clear:both;
    width: 190%;
    position: relative;
  }
  #chicken{
    top:-1.5%;
    right:-0.3%;
  }
  div.linebreak{
    height: 30px;
    background: rgba(0, 0, 0, 0);

  }
  section.flashcard{
    height: 260px;
  }


}
@media (min-width:810px) and (max-width:991px){
  .col-lg-12{
    width: 90%;
    float: left;
    margin-bottom: 20px;
    position: relative;
  }
  .cardtitle{
    top:0;
    right:7.6%;
  }
  div.linebreak{
    height: 50px;
    background: rgba(0, 0, 0, 0);

  }
  section.flashcard{
    height: 300px;
  }
}

@media (max-width:809px) {
  .col-lg-12{
    width: 90%;
    float: left;
    margin-bottom: 20px;
    position: relative;
  }
  .cardtitle{
    top:0;
    right:6.6%;
  }
  div.linebreak{
    height: 50px;
    background: rgba(0, 0, 0, 0);

  }
  section.flashcard{
    height: 300px;
  }


}
.cardtitle{
  height: auto;
  position: absolute;
  width:auto;
  font-family: "Arial";
  text-align: center;
  font-size: 1.5em;
  clear: left;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-color: black;
  border-style: solid;
  border-width: medium;

}
#chicken{
  background: red;
  color: white;
}
#beef{
  background: yellow;
  color: black;
}
#sushi{
  background: pink;
  color: black;
}
section.flashcard{
  background: rgba(0, 0, 0, 0.25);
  border-color: black;
  border-width: medium;
  border-style: solid;
  width: 90%;

  margin-left: 20px;
  margin-right: 0;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;

} 
